.charts .infobar {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 25px;
}

.charts .controlbar {
    -fx-opacity: 0.5;
    -fx-background-color: transparent;
    /* how do we set the spacing between buttons */
}